<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        html, body{
            height: 100vh;
        }
        body{
            display: flex;
            flex-direction: column;
        }
        header, footer{
            display: flex;
        }
        main{
            display: flex;
        }
    </style>

</head>
<body>
    <header>
        <%- include("../partials/header") %>
    </header>

    <main>
        <div class="container">

            <div class="row g-4">

            <div class="col-lg-8">

                <h3 class="mb-3">Seu carrinho</h3>

                <div class="card bg-secondary text-light mb-3 p-3">
                    <div class="row g-3 align-items-center">
                        <div class="col-3">
                            <img src="../../public/media/lol.jpg" class="img-fluid rounded-pill" alt="">
                        </div>
                        <div class="col-6">
                            <h5>Jogo 1</h5>
                            <p class="mb-1 text-white-50">Estilo do jogo</p>
                            <button class="btn btn-link text-danger p-0">Remover</button>
                        </div>
                        <div class="col-3 text-end">
                            <h5>R$ preço</h5>
                        </div>
                    </div>
                </div>

                <div class="card bg-secondary text-light mb-3 p-3">
                    <div class="row g-3 align-items-center">
                        <div class="col-3">
                            <img src="../../public/media/Clair-Obscur-Expedition-33.jpg" class="img-fluid rounded-pill" alt="">
                        </div>
                        <div class="col-6">
                            <h5>Jogo 2</h5>
                            <p class="mb-1 text-white-50">RPG</p>
                            <button class="btn btn-link text-danger p-0">Remover</button>
                        </div>
                        <div class="col-3 text-end">
                            <h5>R$ preço</h5>
                        </div>
                    </div>
                </div>

                <a href="#" class="btn btn-outline-dark mt-3">Continuar comprando</a>

            </div>

            <div class="col-lg-4">

                <div class="card bg-secondary text-light p-3 sticky-top">
                    <h4>Resumo</h4>

                    <div class="d-flex justify-content-between mt-3 mb-1">
                        <span>Subtotal:</span>
                        <strong>R$ preço</strong>
                    </div>
                    <div class="d-flex justify-content-between mt-3 mb-1">
                        <span>Subtotal:</span>
                        <strong>R$ preço</strong>
                    </div>


                    <hr>

                    <div class="d-flex justify-content-between fs-5 mb-3">
                        <strong>Total:</strong>
                        <strong>R$ preço</strong>
                    </div>

                    <button class="btn btn-success w-100 mb-2">Finalizar compra</button>
                    <button class="btn btn-outline-light w-100">Continuar para o pagamento</button>
                </div>

            </div>

            </div>
            
        </div>
    </main>


    <footer>
        <%- include("../partials/footer") %>
    </footer>
</body>
</html>