<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous"></head>
<body>
    <main>
        <form action="/configConta/atualizar" method="post">
            <label for="">Novo Nome</label>
            <input type="text" name="newName" id="" placeholder="Nome">
            <label for="">Novo Email</label>
            <input type="email" name="newEmail" id="" placeholder="Email">
            <label for="">Novo Telefone</label>
            <input type="text" name="newPhone" id="" placeholder="Telefone">
            <label for="">Nova Senha</label>
            <input type="password" name="newPassword" id="" placeholder="Senha">
            <button type="submit" name="acao" value="atualizar">Salvar</button> <br>
            <button type="submit" name="acao" value="excluir">excluir conta</button>
        </form>
    </main>
</body>
</html>