<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>document</title>
</head>
<body>
    <header>
        <div class="head1">
            <label for="busca">Search:</label>
            <input type="search" name="busca" id="busca">
            <p>I</p>
            <p>P</p>
        </div>
        <nav>
            <a href="">Menu</a>
            <a href="">Lista de Desejos</a>
            <a href="">Carteira</a>
        </nav>
    </header>

    <main>
        <div class="tlmaior">
            a
        </div>
        <p>Destaques e recomendados</p>
        <div class="tlmenor">
            a
        </div>
        <div class="tleventos">
            a
        </div>
        <p>
            Descontos e Eventos
        </p>
        <div class="tlpromocao">
            a
        </div>
        <p>Explore por categoria<p>
        <div class="tlcategoria">
            a
        </div>
    </main>

    <footer>
        <p>Desenvolvido por Kaysheen, Lucas Andrade, Miguel César e Pedro Elias. </p>
    </footer>
</body>
</html>