<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
            <p><a href="">sobre</a></p>
            <p><a href="">about</a></p>
            <p><a href="">end</a></p>
        </nav>
    </header>
    <main>
        <h2>SLK</h2>
    </main>
    <footer>
        <p>Desenvolvido por Kaysheen, Lucas Andrade, Miguel César e Pedro Elias. </p>
    </footer>
</body>
</html>